.cube {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  position: relative;
  margin: 50px auto;
  animation: autoRotate ease 12s alternate infinite; }
  .cube.show-default {
    transform: rotateX(-15deg) rotateY(-15deg); }
  .cube.show-left {
    transform: rotateY(90deg); }
  .cube-face {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    position: absolute;
    overflow: hidden;
    opacity: 0.8; }
    .cube-face img {
      width: 100%; }
    .cube-face.is-front {
      transform: translateZ(150px); }
    .cube-face.is-back {
      transform: rotateX(180deg) translateZ(150px); }
    .cube-face.is-right {
      transform: rotateY(90deg) translateZ(150px); }
    .cube-face.is-left {
      transform: rotateY(-90deg) translateZ(150px); }
    .cube-face.is-top {
      transform: rotateX(90deg) translateZ(150px); }
    .cube-face.is-bottom {
      transform: rotateX(-90deg) translateZ(150px); }

@keyframes autoRotate {
  16.5% {
    transform: rotateX(-180deg); }
  33% {
    transform: rotateY(90deg); }
  49.5% {
    transform: rotateY(-90deg); }
  66% {
    transform: rotateX(-90deg); }
  82.5% {
    transform: rotateX(90deg); } }
